html{
	box-sizing: border-box;
  font-size: calc(110% + 0.25vw) 
}

h1 { 
  @include poppins700;
  font-size: 5.5em; 
  line-height: 1;
  text-transform: capitalize;
}

*, *::before, *::after{
  box-sizing: inherit;
}

html, body{
  height: 100%;
}

a{
	display: inline-block;
	text-decoration: none;
	color: $text;
}

ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  color: #fff;

  span{
    color: $red;
  }
}

button{
	outline: none;
}

body{
	font-family: 'Moli', sans-serif;
	font-weight: 400;
	line-height: 1.3;
  color: $text;
  overflow-x: hidden;
	position: relative;
}

.content{
  overflow-x: hidden;
}

.fullPage{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
	// padding: 0 15px;
  margin-left: 20vw;
}

.img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.suptitle{
  text-transform: uppercase;
  padding-left: 85px;
  position: relative;
  margin-bottom: 1.3em;
  font-size: .8em;

  &::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    background-color: $text;
    left: 0;
    top: 45%;
  }
}
.title{
  @include poppins700;
	font-size: 2.5em;
  text-transform: capitalize;
  line-height: 1;
  color: #fff;
  margin-bottom: .5em;
}
.subtitle{
  line-height: 1.5;
  margin-bottom: 1.3em;
}
.text{
  font-size: .8em;
  line-height: 1.5;
	color: $text;
}

// Button
.btn{
  min-width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  padding: 1rem 1.5rem;
  border: 2px solid $red;
  border-radius: 60px;
  background-color: transparent;
  transition: linear .2s;

	&:hover{
    background-color: rgba($red, .6);
	}
}
.btn--on{
	background-color: rgba($red, .6);
}

// Preloader
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
	background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}


// Burger
.burger {
  display: flex;
  flex-direction: column;
  transform: rotate(-45deg);
  cursor: pointer;

  .line{
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin: 4px 0;
    margin-left: 8px;

    &:nth-child(2){
      margin-left: 0;
    }
  }
}


// SLider
.swiper-container{
  position: relative;
}
.slider__arrows{
  display: flex;
}
.slide__arrow{
  color: #fff;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 0.8rem;
  padding-bottom: 0.6em;
  border-bottom: 1px solid #fff;
  position: relative;
  transition: color linear .2s;

  &::before{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: $red;
    bottom: -1px;
    right: 0;
    transition: linear .2s;
  }

  &:hover{
    color: $red;

    &::before{
      width: 100%;
    }
    
    .readMore__icon{
      fill: $red;
    }
  }
}
.slide__prev{
  padding-right: 20px;
}
.slide__next{
  padding-left: 20px;

  &::before{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: $red;
    bottom: -1px;
    left: 0;
    right: auto;
    transition: linear .2s;
  }
}

// Read more
.readMore{
  font-size: .8em;
  margin-top: 50px;
  padding-right: 25px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 0.6em;
  border-bottom: 1px solid #fff;
  position: relative;
  transition: color linear .2s;

  &::before{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: $red;
    bottom: -1px;
    left: 0;
    transition: linear .2s;
  }

  &:hover{
    color: $red;

    &::before{
      width: 100%;
    }
    
    .readMore__icon{
      fill: $red;
    }
  }

  &--grey{
    color: $text;
    border-bottom: 1px solid rgba(#fff, .6);
  }
}




